!!!
%html
  %head
  %body
    %h3 
      Your site 
      = @request.site.url 
      is returning an unexpected status.
    %p
      Status Code: 
      = @request.code
      %br 
      Status Message:
      = @request.message
      %br
      %p  
        = "For more information on this status code please visit http://en.wikipedia.org/wiki/List_of_HTTP_status_codes" + "#" + "#{@request.code}"
      %br
      %p
        Email sent from Site Monitor.
    %p
